@model IEnumerable<SalesApplication.WEB.Models.ManagerViewModel>
@{
    ViewBag.Title = "Home Page";
}

<h2>List of Managers</h2>

<div>
    @Html.ActionLink("New Manager", "NewManager", "Manager", null, new {@class = "btn btn-default"})
</div>

<br/>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Manager)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Manager)
            </td>
        </tr>
    }
</table>