@model IEnumerable<SalesApplication.WEB.Models.ProductViewModel>
@{
    ViewBag.Title = "Home Page";
}

<h2>List of Products</h2>
<div>
    @Html.ActionLink("New Product", "NewProduct", "Product", null, new {@class = "btn btn-default"})
</div>

<br/>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
    }
</table>